.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
  width: 100%; /* Memastikan Navbar menggunakan lebar penuh */
  padding: 0 2rem; /* Tambahkan padding untuk jarak horizontal */
}

.n-left {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  gap: 2rem;
}

.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

  
  .n-name {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .n-list {
    flex: 10;
  }
  .n-list > ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
  }
  
  .n-list > ul :hover {
    color: var(--orange);
    cursor: pointer;
  }
  
  .n-button {
    flex: 2;
  }
  
  @media screen and (max-width: 480px) {
    .n-list {
      display: none;
    }
  }
  